@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
.container{
  font-family: 'Poppins', sans-serif;
  width: 90%;
  margin: 0 auto;

}
.subtexto{
  font-size: 0.7rem;
  font-weight: bold;
  color: #3D4246;
}
.title{
  font-weight: lighter;
  font-size: 2rem;
  color: #3D4246;

}
.titleContainer{
  padding: 1rem;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fafafa;
  padding: 1rem;
}
.complete{
  color: #DD6031;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.incomplete{
  opacity: 0.8;
  display: flex;
  align-items: center;
  padding-left: 1rem;

}
.complete img, .incomplete img{
  margin-right: 0.5rem;
}
.containerActive{
  width: 70%;
  color: #3D4246;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;


}
.containerInactive{
  width: 70%;
  color: #3D4246;
  display: flex;
  align-items: center;


}
.containerInactive ul{
  list-style: none;
  padding-left: 0.5rem;
}
.prevButton{
  border: none;
  background: #fafafa;
  color: #646464;
  padding: 0.5rem;
  width: 127px;
  height: 43px;
  font-weight: bolder;
}
.nextButton{
  background: #FC5226;
  color: #fff;
  border: none;
  width: 127px;
  height: 43px;
  font-weight: bolder;



}
.buttonsContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-weight: 500;

}

.label{
  color: #646464;
  font-size: 0.9rem;
  width: 100%;
}
.input{
  height: 43px;
  border: 1px solid #28292B;
  margin-right: 0.5rem;
  width: 60%;
}
.containerInput{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
  width: 80%;
}
.containerEtapas{
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 80%;
}
.containerEtapas label{
  padding-left: 0.5rem;
}
.option{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.containerExterno{
  display: flex;
}
.subetapa{
  display: flex;
  margin-bottom: 1rem;
  align-items: center;

}

.addButton{
  border:none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
  font-weight: bold;
  background: #FC5226;
  margin-left: 0.3rem;
  width: 30px;
  height: 30px;
  cursor: pointer;

}
.addButton:hover, .addButton:active{
  background: #ff6e4a;


}
.addButtonActive{
  border:none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
  font-weight: bold;
  background:rgba(221, 96, 49, 0.6);
  margin-left: 0.3rem;
  width: 30px;
  height: 30px;
  pointer-events: none;

}
.column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2;
  width: 100%;
}
.containerInterno{
  display: flex;
}
.image{
 display: flex;
 align-items: center;
 margin-right: 0.5rem;

}

.containerTitulo{
  display: flex;
}
